@import "./ant.less";

/** 

字体 css

*/

@base-size: 1rem;

.font(font-v1, @base-size + 1, bold );
.font(font-v2, @base-size, 600 );
.font(font-v3, @base-size - 0.125, 400 );
.font(font-v4, @base-size - 0.3, 400 );

.font(@class, @rem, @weight ) {
    .@{class} {
        font-weight: @weight;
        font-size: @rem;
    }
}

.font-nowrap {
    white-space: nowrap;
}
