@import "./media.css";
@import "./flex.css";
@import "./font.css";


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: auto;
    width: 100%;
    min-height: 900px;
}

/*通用文字*/
#app div,span,p{
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,sans-serif;
}

/*通用卡片样式*/
.div-card {
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
}

/*指针*/
.pointer{
    cursor: pointer;
}

/*通用阴影*/
.shadow{
    box-shadow: 1px 1px 8px rgba(100,100,100,0.1);
}
.shadow-dark{
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}
.text-shadow{
    text-shadow: 1px 1px 8px  rgba(100,100,100,0.1);
}
.text-shadow-dark{
    text-shadow: 1px 1px 8px rgba(0,0,0,0.3);
}

/*偏移*/
.offset-small{
    margin-left: 10px;
}
.offset-middle{
    margin-left: 20px;
}
.offset-large{
    margin-left: 30px;
}

/*原生样式修改*/
#app h1{
    font-size: 24px;
}
#app h2{
    font-size: 22px;
}
#app h3{
    font-size: 20px;
}
#app h4{
    font-size: 18px;
}
#app h5{
    font-size: 16px;
}
#app h6{
    font-size: 14px;
}