


.font-x-small{
    font-size: 12px;
    color: gray;
}

.font-small{
    font-size: 13px;
    color: gray;
}

.font-middle{
    font-size: 14px;
}

.font-large{
    font-size: 16px;
}

.font-x-large{
    font-size: 17px;
}

.font-xx-large{
    font-size: 18px;
}




